.container {
	display: flex;
	flex-direction: column;
	width: 250px;
	margin: auto;
	// place-content: center;
	// justify-content: center;
	// align-content: center;
	// justify-items: center;

	& > * {
		margin-top: 0.5rem;
	}

	input {
		outline: none;
		border: 1px solid #333;
		border-radius: 0.25rem;
		padding: 0.5em;
	}

	.errorMessage {
		color: var(--clr-neutral-500);
		text-align: center;
	}

	button {
		margin-bottom: 0.25rem;
	}
}
