.container {
	display: grid;
	place-content: center;
	background-color: var(--clr-neutral-400);
	border: 1px solid var(--clr-neutral-400);
	border-radius: 0.5rem;
}
.sportsList {
	background-color: white;
}
.sportsList__item {
	font-size: small;
}

.selectionContainer {
	margin-top: 0.25rem;
	display: flex;
	flex-direction: column;
}

.selectionItemContainer {
	margin-top: 0.5rem;
	&:not(:first-of-type) {
		margin-top: 0.5rem;
	}
}

.selectionItemLabel {
	font-size: small;
	font-weight: normal;
	color: var(--clr-secondary-200);
}
.selectItem {
	width: 100%;
	font-size: small;
	color: var(--clr-primary-200);
	background-color: white;
	border-color: white;
}
.buttonContainer {
	margin-block: 0.5rem;
	display: flex;
	justify-content: space-around;
}
