.menu {
	display: grid;
	align-items: center;
	background-color: var(--clr-neutral-400);
	height: var(--header-height);
}

.menuList {
	display: flex;
	color: var(--clr-primary-200);
	justify-content: flex-end;
}

.listItem {
	margin-inline-end: 2em;
}

.itemLink {
	font-size: var(--fs-700);
}

.itemLink:hover {
	color: gray;
}
