$pri: #128cfc;
$sec: #fffffe;
$dark-pri: #0b5aa2;

.Container {
	overflow-y: auto;
	.items {
		display: grid;

		.item_content {
			display: grid;
            grid-template-columns: 10fr 1fr;
			justify-content: center;
			border-block: 1px solid black;

			.item_data {
				display: flex;
				justify-content: center;
				flex-direction: column;

				.item_header {
					display: flex;
					justify-content: space-around;
				}
				h5,
				h4 {
					justify-self: center;
					font-weight: bold;
					margin-inline-end: 0.5em;
				}
				.item_body {
					display: flex;
					justify-content: space-around;
                    color: rgb(97, 96, 96);
				}
			}

			.Icon {
				cursor: pointer;
				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
}
@keyframes icon {
	0%,
	100% {
		transform: translate(0px);
	}
	50% {
		transform: translate(3px);
	}
}
